$promo-pad: 60px;

.header-section {
    text-align: center;
    padding: 60px 0px;
}

.header-headline {
    h1 {
        font-size: 56px;
        font-weight: 300;
        line-height: 56px;
        margin: 15px 5px;
    }
    h2 {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        margin: 15px 0 25px;
    }
}

.promo {
    text-align: center;
    padding: 16px;

    .promo-tile {
        max-width: 400px;
        margin: auto;
        h1 {
            font-weight: 300;
        }

        p {
            text-align: justify;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
            margin: 0 0 24px 0;
            padding: 0;
        }
    }

}
