<!-- <header> -->
  <div class="header-section">
    <div class="header-headline">
      <h1>TopoMojo</h1>
      <h2>A simple lab builder/player</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button [routerLink]="['topo']" color="primary">Get Started</a>
    </div>
  </div>
<!-- </header> -->
<div class="promo">
    <div class="promo-tile">
      <h1><mat-icon inline="true">search</mat-icon> Browse</h1>
      <p>Looking to find and run an existing topology?  Browse the topology library to find what you need!</p>
    </div>
    <div class="promo-tile">
      <h1><mat-icon inline="true">build</mat-icon> Work</h1>
      <p>Want to build your own topology?  Or continue work on something you've started?  Head to your workspace to access your stuff.</p>
    </div>
    <div class="promo-tile">
      <h1><mat-icon inline="true">flash_on</mat-icon>Play</h1>
      <p>Already have one running?  Head here to pick up where you left off.</p>
    </div>
</div>
