@{
    ViewData["Title"] = "TopoMojo";
}
<base href="/"/>
<!--<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>-->
<app>
    <i id="loading-animation" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script>
        window['clientSettings'] = JSON.parse('@Html.Raw(ViewBag.ClientSettings)');
    </script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
