
.workspace {
    padding: 4px 4px 64px 4px;
    max-width: 800px;
    margin: auto;

    h1 {
        font-weight: normal;
    }

    .card {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        p {
            flex: 1;
            width: 70%;
            margin-right: 8px;
        }
    }
}
