/*.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    font-size: 2em;
    color: goldenrod;
}

p {
    padding-left: 16px;
}*/
div {
    margin: 4px;
}