

<div class="input-group">
    <div class="form-group has-feedback has-clear">
        <input type="text" class="form-control"
            [placeholder]="'SEARCH'|translate"
            #term (keyup)="refresh(term.value)"
        />
    <!--<input id="search-term" type="text" class="form-control" placeholder="Search">-->
        <span class="form-control-clear fa fa-remove form-control-feedback hidden"></span>
    </div>
    <span class="input-group-btn">
        <button (click)="fire()" class="btn btn-default">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>

<ng-content></ng-content>

<button *ngIf="hasMore" (click)="more()" class="btn btn-primary">
    <i class="fa fa-search"></i> <span translate>MORE</span>
</button>