<div *ngIf="template" class="outer">
  <form #form="ngForm" [ngFormOptions]="{updateOn: 'change'}" (ngSubmit)="update()">
    <input type="hidden" name="id" [ngModel]="template.id">
    <input type="hidden" name="topologyId" [ngModel]="template.topologyId">
    <input type="hidden" name="iso" [ngModel]="template.iso">
    <div>
      <mat-form-field>
        <input [disabled]="hasVm" matInput required type="text" name="name"
          matLabel="Template" placeholder="Name"
          [(ngModel)]="template.name" maxlength="24">
        <mat-hint>Names should be unique within the workspace!</mat-hint>
        <mat-hint align="end">{{template.name.length}} / 24</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <textarea [disabled]="hasVm" matInput type="textarea" name="description"
          placeholder="Description"
          [(ngModel)]="template.description" maxlength="300"></textarea>
        <mat-hint align="end">{{(''+template.description).length}} / 300</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input [disabled]="hasVm" matInput type="text" name="networks"
        placeholder="Networks"
        [(ngModel)]="template.networks" maxlength="30">
        <mat-hint>Space-delimited network names</mat-hint>
        <mat-hint align="end">{{(''+template.networks).length}} / 30</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <label>Iso</label>
      <span *ngIf="template.iso" class="isoname">{{template.iso.substring(template.iso.lastIndexOf('/')+1)}}</span>
      <button *ngIf="template.iso" [disabled]="hasVm" mat-icon-button matSuffix (click)="isoChanged({})"><mat-icon>remove_circle</mat-icon></button>
      <button type="button" [disabled]="hasVm" mat-icon-button matSuffix (click)="showingIsos=!showingIsos"><mat-icon>edit</mat-icon></button>
      <topomojo-select-table *ngIf="showingIsos" [dataSource]="isoSource" (selected)="isoChanged($event)"></topomojo-select-table>
    </div>

    <div>
        <mat-slide-toggle [disabled]="hasVm" name="isHidden" [(ngModel)]="template.isHidden" color="primary" labelPosition="before"
        [ngModelOptions]="{updateOn: 'change'}">Hidden</mat-slide-toggle>
    </div>

    <div class="submit">
      <button mat-raised-button color="primary" type="submit" [disabled]="!needSaving()">Save Settings</button>
    </div>
  </form>

</div>
