// .wrapper {

    .chat-panel {
        // margin-top: 64px;
        height: 100%;
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-flow: column wrap;

        .presence-div {
            // height: 64px;
            padding: 8px;
            font-size: 14px;

            span {
                margin: 2px 4px;
                padding: 2px;
                border-radius: 4px;
            }
        }

        .messages-div {
            flex: 1;
            overflow-y: auto;

            .center {
                text-align: center;
            }
        }

        .footer {
            height: 20px;
            margin-top: 4px;
        }

        .editor {
            margin: 4px;
            height: 80px;
            font-size: 14px;
            font-weight: normal;
            // letter-spacing: .1em;

            textarea {
                resize: none;
            }
        }
    }
// }
