<div class="container">
    <div class="row">
        <div *ngIf="loading" class="text-center">
            <span class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></span>
        </div>
        <div *ngIf="instances && instances.length > 0"  class="col-xs-12">
            <div *ngFor="let m of instances" class="col-xs-12 alert alert-success">
                <h4>{{ m.gamespace.topology.name }}</h4>
                <div class="pull-right">
                    <button class="btn btn-link" tooltip="continue" [routerLink]="['/mojo', m.gamespace.topology.id]">
                        <i class="fa fa-flash text text-success"></i>
                    </button>
                    <confirm-delete *ngIf="m.isAdmin"
                        prompt="Confirm deletion of this instance."
                        (onDelete)="destroyInstance(m.gamespace.id)"
                        [asLink]="true"></confirm-delete>
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                    <p><span class="label label-success">Created</span> {{m.gamespace.whenCreated}}</p>
                </div>
            </div>
        </div>
    </div>
</div>