<div *ngIf="game" class="player">
    <!-- <controlbar [game]="summary" [loading]="loading"></controlbar> -->
    <div id="controlbar">
        <ul class="list-inline">
            <li><a [routerLink]="['/home']"><h4>{{appName}}</h4></a></li>
            <li *ngFor="let vm of game.vms">
                <!-- <button *ngIf="vm.visible"  -->
                <button
                    class="btn btn-default"
                    [disabled]="!vm.id"
                    (click)="launchConsole(vm)"
                    [tooltip]="'OPEN-CONSOLE' | translate | lowercase">
                    <span [class.text-success]="vm.isRunning">
                        <i class="fa fa-desktop"></i>
                        {{vm.name | untagged }}
                    </span>
                </button>
            </li>
            <li *ngIf="!game.id && !loading" class="pull-right">
                <button (click)="launch()" class="btn btn-primary">
                    <i class="fa fa-play"></i> <span translate>LAUNCH</span>
                </button>
            </li>
            <li *ngIf="game.id && !loading" class="pull-right">
                <confirm-delete
                    label="DELETE-GAME"
                    prompt="DELETE-GAME-PROMPT"
                    (onDelete)="destroy($event)">
                </confirm-delete>
            </li>
            <li *ngIf="loading" class="pull-right">
                <button class="btn btn-warning">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </button>
            </li>
            <li *ngIf="game.id" class="pull-right">
                <button (click)="collaborate()"
                    [tooltip]="'COLLABORATE' | translate | lowercase"
                    class="btn btn-default"
                    [class.btn-primary]="collaborationVisible || messageCount">
                    <i class="fa fa-users"></i>
                    <span *ngIf="messageCount" class="badge">{{messageCount}}</span>
                </button>
            </li>
        </ul>
    </div>

    <div id="content" class="container">
        <error-div [errors]="errors"></error-div>
        <div *ngIf="docMissing" translate>EXCEPTION.NODOCUMENT</div>
        <div *ngIf="renderedDoc"
            class="col-xs-6"
            [class.col-xs-offset-3]="!collaborationVisible"
            [innerHtml]="renderedDoc"></div>

        <div [hidden]="!collaborationVisible" id="collab-div">

            <!-- <div id="presence-div">
                <p>{{shareUrl}}
                    <button class="btn btn-default btn-sm">
                        <i class="fa fa-clipboard"></i>
                    </button>
                </p>
                <ul class="list-inline">
                    <li *ngFor="let player of players"
                        [class.text-success]="player.online"
                        [class.text-muted]="!player.online">
                        <span>{{player.name}}</span>
                    </li>
                </ul>
            </div> -->

            <chat-messages *ngIf="game" [game]="game"></chat-messages>

            <!-- <div id="message-div">
                <p *ngFor="let msg of messages">
                    {{msg}}
                </p>
            </div> -->

            <!-- <div id="send-div">
                <form (ngSubmit)="sendMessage()"class="input-group">
                    <textarea type="text" class="form-control" name="msg" [(ngModel)]="msg" (keyup.enter)="sendMessage()"></textarea>
                    <span class="input-group-addon btn btn-default" (click)="sendMessage()">
                        <i class="fa fa-send"></i>
                    </span>
                </form>
            </div> -->

        </div>
        <!-- <div class="console-viewer">
             <div *ngFor="let vm of game.vms" class="console">
                <p>{{vm.name}}</p>
            </div>
            <span>Connect</span>
        </div> -->
    </div>
</div>

<div *ngIf="showOverlay" class="overlay">
    <div class="row col-xs-4 col-xs-offset-4 well vcenter">
        <h2 translate>EVENT.GAME.OVER</h2>
        <button class="btn btn-default btn-lg" (click)="redirect()" translate>CONTINUE</button>
    </div>
</div>
