<div class="row">
    <div class="col-md-4">
        <h4>Templates</h4>
        <div class="row">
            <search-bar class="col-md-10" (fire)="search($event)"></search-bar>
            <div class="col-md-2">
                <button (click)="create()" class="btn btn-link">
                    <i class="fa fa-plus-circle"></i> New
                </button>
            </div>
        </div>
        <entity-list
            [entities]="templates"
            [icon]="icon"
            (onSelected)="load($event)"></entity-list>
    </div>
    <div class="col-md-4">
        <div *ngIf="template" spellcheck="false">
            <h4>Template: {{ template.name }}</h4>
            <p>{{ template.globalId }}</p>
            <input type="checkbox" [(ngModel)]="template.isPublished" class="form-control"/><span>Published</span>
            <input #focusTag [(ngModel)]="template.name" class="form-control" placeholder="Name"/>
            <textarea [(ngModel)]="template.description" class="form-control" placeholder="Description"></textarea>
            <textarea [(ngModel)]="template.detail" class="form-control json" placeholder="Save for defaults" rows="40"></textarea>
            <div>
                <button class="btn btn-primary" (click)="save()">
                    <i class="fa fa-save"></i> Save</button>
                <button class="btn btn-default pull-right" (click)="delete()">
                    <i class="fa fa-trash text text-danger"></i> Delete</button>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
                <button (click)="clearError()" type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
                <span>{{errorMessage}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>