<div class="row">
    <div class="col-xs-12">
        <!--<h4>Templates</h4>-->
        <div class="spaced">
            <search-bar (onSearch)="termChanged($event)"></search-bar>
        </div>
        <div *ngIf="!model.term">
            <button (click)="create()" class="btn btn-link">
                <i class="fa fa-plus-circle"></i> Add New Template
            </button>
        </div>
        <ul *ngIf="templates" class="list-unstyled">
            <li *ngFor="let t of templates" class="">
                <div class="">
                    <button class="btn btn-link" (click)="select(t)"
                        [class.btn-primary]="t === template">
                        <i class="fa fa-file-o"></i>
                        <span>{{ t.name }}</span>
                    </button>
                    <span class="text text-muted">{{ t.globalId }}</span>
                </div>
                <div *ngIf="t === template" spellcheck="false" class="well">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="t.isPublished"> Published
                        </label>
                    </div>
                    <input #focusTag [(ngModel)]="t.name" class="form-control" placeholder="Name"/>
                    <textarea [(ngModel)]="t.description" class="form-control" placeholder="Description"></textarea>
                    <textarea [(ngModel)]="t.detail" class="form-control json" placeholder="Save for defaults" rows="40"></textarea>
                    <div>
                        <button class="btn btn-primary" (click)="save()">
                            <i class="fa fa-save"></i> Save</button>
                            <confirm-delete
                                (onDelete)="delete()"
                                label="Delete"
                                class="pull-right"
                                prompt="Please confirm you intend to delete this Template.">
                            </confirm-delete>
                        <!--<button class="btn btn-default pull-right" (click)="delete()">
                            <i class="fa fa-trash text text-danger"></i> Delete</button>-->
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
                        <button (click)="clearError()" type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        <span>{{errorMessage}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <button *ngIf="hasMore>0" (click)="more()" class="btn btn-primary btn-sm">
            <i class="fa fa-search"></i> More <span class="badge">{{hasMore}}</span>
        </button>
    </div>
</div>