<div *ngFor="let t of entities"
    class="alert alert-info alert-dismissable">
    <button type="button" (click)="itemClicked(t)" class="close">
        <span class="{{icon}}"></span>
    </button>
    <strong>{{ t.name }}</strong>
    <span *ngIf="t.description">&mdash; {{ t.description }}</span>
</div>
<!--<ul *ngIf="entities" class="list-unstyled">
    <li *ngFor="let t of entities" class="">
        <div class="">
            <button (click)="itemClicked(t)" class="btn"
            [class.btn-success]="t !== entity"
            [class.btn-primary]="t === entity">
                <i class="{{ icon }}"></i> <span>{{ t.name }}</span>
                <p>{{ t.description }}</p>
            </button>
        </div>
        <div *ngIf="t === entity">
            <ng-content></ng-content>
        </div>
    </li>
</ul>-->