<div class="container">
    <div class="row col-xs-12">
        <!--<h4>Admin Center</h4>-->
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default btn-lg" [routerLink]="['templates']">
                <i class="fa fa-desktop"></i> Templates
            </a>
            <a class="btn btn-default btn-lg" [routerLink]="['games']">
                <i class="fa fa-desktop"></i> Games
            </a>
            <a class="btn btn-default btn-lg" [routerLink]="['vms']">
                <i class="fa fa-desktop"></i> Vms
            </a>
            <a class="btn btn-default btn-lg" [routerLink]="['users']">
                <i class="fa fa-user"></i> Users
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>