<div class="row">
    <div class="col-xs-12">
        <div>
            <search-bar (onSearch)="termChanged($event)"></search-bar>
        </div>
        <ul *ngIf="roster" class="list-unstyled">
            <li *ngFor="let person of roster" class="">
                <div class="">
                    <i class="fa fa-user"></i>
                    <span>{{ person.name }}</span>
                    <span class="text-muted">{{ person.globalId }}</span>
                    <!--<button *ngIf="!person.isAdmin"class="btn btn-link" (click)="grant(person)">Grant Admin</button>
                    <button *ngIf="person.isAdmin"class="btn btn-link" (click)="deny(person)">Revoke Admin</button>-->
                </div>
            </li>
        </ul>
        <button *ngIf="hasMore>0" (click)="more()" class="btn btn-primary">
            <i class="fa fa-search"></i> More <span class="badge">{{hasMore}}</span>
        </button>
        <!-- <hr>
        <div class="">
            <button (click)="toggleUpload()" class="btn btn-link">
                <h4>
                    <i class="fa fa-plus-circle"></i>
                    <span>Add Users</span>
                </h4>
            </button>
            <div *ngIf="userUploadVisible">
                <textarea rows="10" class="form-control" placeholder="Add or paste email list" [(ngModel)]="plist"></textarea>
                <button (click)="upload()" class="btn btn-primary pull-right">Save</button>
            </div>
        </div> -->
    </div>
</div>