span {
    margin: 2px 8px;
}
.red {
    color: crimson;
}
.vm {
    border-radius: 4px;
    padding: 4px;
    background-color: lightgray;
}
.on {
    background-color: lightgreen;
}
.off {
    background-color: lightgray;
}