<div *ngIf="!game" class="player">
        <error-div [errors]="errors"></error-div>
        <a class="btn btn-link" [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a>
</div>

<div *ngIf="game" class="player">
    <div id="controlbar">
        <ul class="list-inline">
            <li><a [routerLink]="['/home']"><h4>{{appName}}</h4></a></li>
            <li *ngFor="let vm of game.vms">
                <!-- <button *ngIf="vm.visible"  -->
                <button
                    class="btn btn-default"
                    [disabled]="!vm.id"
                    (click)="launchConsole(vm)"
                    [tooltip]="'OPEN-CONSOLE' | translate | lowercase">
                    <span [class.text-success]="vm.isRunning">
                        <i class="fa fa-desktop"></i>
                        {{vm.name | untagged }}
                    </span>
                </button>
            </li>
            <li *ngIf="!game.id && !loading" class="pull-right">
                <button (click)="launch()" class="btn btn-primary">
                    <i class="fa fa-play"></i> <span translate>LAUNCH</span>
                </button>
            </li>
            <li *ngIf="game.id && !loading" class="pull-right">
                <confirm-delete
                    label="DELETE-GAME"
                    prompt="DELETE-GAME-PROMPT"
                    (onDelete)="destroy($event)">
                </confirm-delete>
            </li>
            <li *ngIf="loading" class="pull-right">
                <button class="btn btn-warning">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </button>
            </li>
            <li *ngIf="game.id" class="pull-right">
                <button (click)="collaborate()"
                    [tooltip]="'COLLABORATE' | translate | lowercase"
                    class="btn btn-default"
                    [class.btn-primary]="collaborationVisible || messageCount">
                    <i class="fa fa-users"></i>
                    <span *ngIf="messageCount" class="badge">{{messageCount}}</span>
                </button>
            </li>
        </ul>
    </div>

    <div id="content">
        <div *ngIf="settings.maintMsg" class="alert alert-warning">
            {{ settings.maintMsg }}
        </div>

        <div id="doc-div">

            <error-div [errors]="errors"></error-div>

            <div *ngIf="docMissing" translate>EXCEPTION.NODOCUMENT</div>

            <div *ngIf="renderedDoc"
            [innerHtml]="renderedDoc">
        </div>
        <!-- class="col-xs-6" -->
        <!-- [class.col-xs-offset-3]="!collaborationVisible" -->

        </div>

        <div [hidden]="!collaborationVisible" id="collab-div">
            <chat-messages *ngIf="game" [space]="game"></chat-messages>
        </div>

    </div>

</div>

<div *ngIf="showOverlay" class="overlay">
    <div class="row col-xs-4 col-xs-offset-4 well vcenter">
        <h2 translate>EVENT.GAME.OVER</h2>
        <button class="btn btn-default btn-lg" (click)="redirect()" translate>CONTINUE</button>
    </div>
</div>
