.form {
    display: flex;
    align-items: baseline;
    text-align: left;
    flex-wrap: wrap;
    margin-bottom: 8px;

    .title {
        flex: 1;
    }

    .desc {
        font-weight: normal;
        text-align: left;
        flex: 2;
        margin-right: 16px;

        mat-form-field {
            width: 100%;
        }
    }

    .tool {
        a {
            margin: 0px 4px;
        }
    }
}
