.wrapperjam {
    /* width: 100%; */
    position: fixed;
    top: 64px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .editorjam {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 50%;
        background-color: blue;

        textarea {
            font-size: 16px;
            height: 100%;
            width: 100%;
            resize: none;
        }
    }

    .previewjam {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 8px;
        background-color: limegreen;
        /* display: inline-block; */
        overflow-y: auto;
    }
}

mat-drawer-container {
    position: fixed;
    top: 64px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;

    mat-drawer.editor {
        width: 480px;
        position: absolute;
        top: 64;
        left: 0px;
        bottom: 0;
        // background-color: white;
        // text-align: center;

        textarea {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 464px;
            bottom: -12px;
            font-size: 16px;
            resize: none;
            border: 0px;
            overflow-x: hidden;
            height: 100%;
        }
    }

    mat-drawer.images {
        width: 480px;
        padding: 16px;
    }

    mat-drawer-content {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding: 4px 16px;
        min-width: 480px;
    }
}
