<!-- <mat-tab-group>
    <mat-tab label="Gamespace">
    <ng-template matTabContent>
      The First Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Workspace">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Template">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Machines">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
  <mat-tab label="People">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
</mat-tab-group> -->

<nav mat-tab-nav-bar>
  <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
