.card {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px 0px;
    max-width: 600px;
    margin: auto;

    .text {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        text-align: start;

        h2, p {
            margin: 2px 0px;
            font-weight: normal;
        }
    }

    .tools {
        display: flex;
        flex-flow: row wrap;
        a {
            margin: 0px 4px;
        }
    }
    .title {
        flex: 1;
        margin-right: 16px;
    }

    .desc {
        font-weight: normal;
        font-size: 14px;
        text-align: start;
        flex: 2;
        margin-right: 16px;
        display: flex;
        flex-flow: column nowrap;
    }

    .tool {
    }
}
