<div class="upload-ui">
    <label *ngIf="!canUpload()" class="btn btn-link" htmlFor="fileSelector">
        <input id="fileSelector" type="file" style="display:none;" (change)="fileSelectorChanged($event)">
        <i class="fa fa-folder-open"></i> <span translate>SELECT-FILE</span>
    </label>
    <!-- <input id="fileSelector" type="file" (change)="fileSelectorChanged($event)"> -->
    <div *ngIf="filesQueued()">
        <p *ngFor="let qf of queuedFiles">
            {{ qf.name }}
            <button *ngIf="!uploading" class="btn btn-link" (click)="dequeueFile(qf)">&times;</button>
            <i *ngIf="qf.progress >= 0" class="fa fa-circle-o-notch fa-spin"></i>
        </p>
    </div>
    <button *ngIf="canUpload()" (click)="upload()" class="btn btn-primary" translate>UPLOAD</button>
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" (click)="errorMessage=null">
            <span>&times;</span>
        </button>
        <span>{{errorMessage}}</span>
    </div>
</div>

<div *ngIf="!canUpload()">
    <button class="btn btn-link" (click)="refresh()">
        <i class="fa fa-refresh" [class.fa-spin]="loading"></i> <span translate>REFRESH-LIST</span>
    </button>
    <ul *ngIf="isos" class="list-unstyled">
        <li *ngFor="let iso of isos">
            <button class="btn btn-link" (click)="select(iso)">
                <i class="glyphicon glyphicon-cd"></i> {{iso}}
            </button>
        </li>
    </ul>
</div>