p {
    margin: 20px;
}
.link-active {
    background-color: darkgray;
    color: white;
}
.prop {
    margin-bottom: 16px;
}
.prop-label {
    padding: 6px 0px;
    background-color: #777777;
    color: white;
    text-align: center;
    font-size: .85em;
    border-radius: 4px;
}
.offscreen {
    position: absolute;
    left: -1000px;
    height: 0px;
    width: 0px;
    resize: none;
    border: 0px;
}
div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1001;
    text-align: center;
  }
  .vcenter {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
  }