.card {
    display: flex;
    flex-flow: row nowrap;
    margin: 8px 0px;

    .detail {
        flex: auto;
    }
}

.vm {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .name {
        flex: auto;
    }
}
