<div *ngIf="profile" class="wrapper">
  <mat-divider></mat-divider>
  <form #form="ngForm" [ngFormOptions]="{updateOn: 'change'}" (ngSubmit)="update()">
    <input type="hidden" name="id" [ngModel]="profile.id">

    <div>
        <mat-form-field>
          <input matInput required type="text" name="name" matLabel="Template" placeholder="Name" [(ngModel)]="profile.name"
            maxlength="50">
          <mat-hint align="end">{{profile.name.length}} / 50</mat-hint>
        </mat-form-field>
      </div>

    <div>
      <mat-form-field>
        <input matInput type="number" name="workspaceLimit" placeholder="Workspace Limit" [(ngModel)]="profile.workspaceLimit" maxlength="3">
      </mat-form-field>
    </div>

    <div>
      <mat-slide-toggle name="isAdmin" [(ngModel)]="profile.isAdmin" color="primary" labelPosition="before" [ngModelOptions]="{updateOn: 'change'}">Admin</mat-slide-toggle>
    </div>

    <div class="submit">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.dirty || !form.valid">Save Settings</button>
    </div>

    <topomojo-error-div [errors]="errors"></topomojo-error-div>
  </form>

  <mat-divider></mat-divider>
  <div class="quiet-placard">
    <topomojo-confirm-button [disabled]="false" color="warn" icon="delete" text="Delete Profile" (confirmed)="delete()"></topomojo-confirm-button>
  </div>
</div>
