<div class="console-wrapper">
  <mat-drawer-container>

    <mat-drawer-content>

      <div #consoleCanvas id="console-canvas-" class="canvas" [class.mock-console-connected]="showMockConnected()">

        <button *ngIf="isConnected()" class="tool-btn overlay overlay-tr cog" (click)="toggleDrawer()" mat-button>
          <mat-icon>settings</mat-icon>
        </button>

        <span class="overlay overlay-tl">{{shadowstate}}</span>

        <button #stateBtn *ngIf="stateIcon" class="state-btn overlay overlay-mm" [class.hidden]="isConnected()" (click)="stateButtonClicked()"
          mat-raised-button matTooltip="Retry">
          <mat-icon inline="true">{{stateIcon}}</mat-icon>
        </button>
      </div>
    </mat-drawer-content>

    <mat-drawer #drawer position="end" disableClose="false">
      <div class="tools">
        <button *ngIf="isConnected()" (click)="toggleDrawer()" mat-button>
          <mat-icon>settings</mat-icon>
        </button>




        <!-- <button (click)="console.dispose()" mat-raised-button>
          <mat-icon>remove_cirle</mat-icon>
        </button>
        <button (click)="console.disconnect()" mat-raised-button>
          <mat-icon>power_settings_new</mat-icon>
        </button> -->

        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Control</mat-panel-title>
            </mat-expansion-panel-header>
            <topomojo-confirm-button (confirmed)="console.sendCAD()" icon="keyboard" text="Ctrl-Alt-Del" color="accent"></topomojo-confirm-button>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Layout</mat-panel-title>
            </mat-expansion-panel-header>
            <button (click)="console.toggleScale()" matTooltip="scale" mat-mini-fab>
              <mat-icon>photo_size_select_small</mat-icon>
            </button>

            <button (click)="console.fullscreen()" matTooltip="fullscreen" mat-mini-fab>
              <mat-icon>fullscreen</mat-icon>
            </button>

            <button (click)="console.showKeyboard()" matTooltip="keyboard" mat-mini-fab>
              <mat-icon>keyboard</mat-icon>
            </button>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Change Network</mat-panel-title>
            </mat-expansion-panel-header>
            <topomojo-select-table *ngIf="netSource" [dataSource]="netSource" (selected)="netSelected($event)"></topomojo-select-table>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Change ISO</mat-panel-title>
            </mat-expansion-panel-header>
            <small>If changing ISO on a linux machine, be sure to eject any currently mounted cdrom device.
              If you don't you may need to answer a vm-question to recover an unreponsive machine.
            </small>
            <topomojo-select-table *ngIf="isoSource" [dataSource]="isoSource" (selected)="isoSelected($event)"></topomojo-select-table>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Upload ISO</mat-panel-title>
            </mat-expansion-panel-header>
            <topomojo-file-uploader [bucketId]="info.topoId"></topomojo-file-uploader>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Vm Question</mat-panel-title>
            </mat-expansion-panel-header>
            <topomojo-vm-question [id]="info.id"></topomojo-vm-question>
          </mat-expansion-panel>

        </mat-accordion>

      </div>

    </mat-drawer>
  </mat-drawer-container>
</div>
