<div id="editor-div">
    <textarea
        id="editor"
        name="markdown"
        [(ngModel)]="markdown"
        class="form-control"
        (keyup)="reRender()">
    </textarea>
    <button class="btn btn-primary" [disabled]="!dirty" (click)="save()">
        <i class="fa fa-upload"></i> Save
    </button>
    <a class="pull-right" href="https://guides.github.com/features/mastering-markdown/" target="_blank">[markdown guide]</a>
</div>
<div id="render-div" [innerHtml]="rendered">
</div>

