<div class="container">
    <div class="row col-xs-12">
        <!--<h4>Admin Center</h4>-->
        <div class="">
            <a class="btn btn-default btn-lg" [routerLink]="['templates']" routerLinkActive="btn-primary">
                <i class="fa fa-list"></i> Templates
            </a>
            <a class="btn btn-default btn-lg" [routerLink]="['topos']" routerLinkActive="btn-primary">
                <i class="fa fa-wrench"></i> Topos
            </a>
            <a class="btn btn-default btn-lg" [routerLink]="['games']" routerLinkActive="btn-primary">
                <i class="fa fa-flash"></i> Games
            </a>
            <a class="btn btn-default btn-lg" [routerLink]="['vms']" routerLinkActive="btn-primary">
                <i class="fa fa-tv"></i> Vms
            </a>
            <a class="btn btn-default btn-lg" [routerLink]="['users']" routerLinkActive="btn-primary">
                <i class="fa fa-user"></i> Users
            </a>
            <a class="btn btn-default btn-lg" [routerLink]="['settings']" routerLinkActive="btn-primary">
                <i class="fa fa-cog"></i> Settings
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>