<div>
    <div>
        <h4>Post Announcement</h4>
        <textarea [(ngModel)]="announceText" class="form-control" rows="5"></textarea>
        <button (click)="announce()" class="btn btn-primary">
            <i class="fa fa-send"></i>
            <span>Announce</span>
        </button>
    </div>
    <div class="form-input">
        <h4>Process Imports</h4>
        <button class="btn btn-primary" (click)="import()">Import</button>
        <pre *ngIf="importResults">
            {{ importResults }}
        </pre>
    </div>
    <div class="form-input">
        <h4>Reload Host</h4>
        <!-- <input type="text" [(ngModel)]="hostField" class="form-control">
        <button class="btn btn-default" (click)="reloadHost()">ReloadHost</button> -->
        <span class="input-group">
            <input type="text" class="form-control"
                placeholder="Host name"
                [(ngModel)]="hostField"
            />
            <span class="input-group-btn">
                <button (click)="reloadHost()" class="btn btn-default">
                    <i class="fa fa-refresh"></i>
                </button>
            </span>
        </span>
    </div>
    <div>
        <h4>Settings</h4>
        <textarea id="settings-input" [(ngModel)]="settings" class="form-control" rows="25"></textarea>
        <error-div [errors]="errors"></error-div>
        <button (click)="load()" class="btn btn-default">
            <i class="fa fa-refresh"></i>
            <span>Load</span>
        </button>
        <button (click)="save()" class="btn btn-primary">
            <i class="fa fa-save"></i>
            <span>Save</span>
        </button>
    </div>
    <div>
        <h4>Live Users</h4>
        <button (click)="loadLiveUsers()" class="btn btn-default">
            <i class="fa fa-refresh"></i>
            <span>Load</span>
        </button>
        <pre>{{liveUsers}}</pre>
    </div>
</div>