<div class="row">
    <div class="col-xs-12" [class.col-xs-8]="hasExports()">
        <div class="spaced">
            <search-bar (onSearch)="termChanged($event)"></search-bar>
        </div>
        <ul *ngIf="topos" class="list-unstyled">
            <li *ngFor="let topo of topos" class="">
                <div class="">
                    <i class="fa fa-site-map"></i>
                    <a [routerLink]="['/topo', topo.id]">
                        <strong [class.text-primary]="topo.isPublished">{{ topo.name }}</strong>
                    </a>
                    <span *ngIf="topo.isPublished" class="fa fa-check"></span>
                    <span class="text-muted">{{ topo.whenCreated | ago }}</span>
                    <span> ({{workerlist(topo)}}) </span>
                    <span class="text-muted"> {{ topo.globalId.substring(0,8)}} </span>
                    <span>
                        <button (click)="toggleSelected(topo)" class="btn btn-default btn-sm">
                            <i class="fa fa-desktop"></i>
                        </button>
                        <button (click)="toggleLocked(topo)" class="btn btn-default btn-sm">
                            <i *ngIf="topo.isLocked" class="fa fa-lock"></i>
                            <i *ngIf="!topo.isLocked" class="fa fa-unlock"></i>
                        </button>
                        <button (click)="addExport(topo)" class="btn btn-default btn-sm" tooltip="export">
                            <i class="fa fa-folder"></i>
                        </button>
                        <button (click)="destroy(topo)" class="btn btn-link">
                            <i class="fa fa-trash"></i>
                        </button>
                    </span>

                    <div *ngIf="isSelected(topo.id)" class="well">
                        <ul class="list-unstyled">
                            <li *ngFor="let t of topo.templates">
                                <!-- <span>{{t.name | untagged}}</span> -->
                                <!-- <vm-toolbar [template]="t"></vm-toolbar> -->
                                <template-editor [topo]="topo" [template]="t"></template-editor>
                            </li>
                        </ul>
                        <!-- <button class="btn btn-link" (click)="showDoc(topo)">
                            <i class="fa fa-file"></i>
                            <span>View Document</span>
                        </button> -->
                    </div>
                </div>
            </li>
        </ul>
        <button *ngIf="hasMore>0" (click)="more()" class="btn btn-primary">
            <i class="fa fa-search"></i> More <span class="badge">{{hasMore}}</span>
        </button>
    </div>
    <div *ngIf="hasExports()" class="col-xs-4">
        <h3>Export List</h3>
        <div *ngFor="let t of exports">
            <span>{{t.name}}</span>
            <button class="btn btn-default btn-sm" (click)="removeExport(t)">
                <i class="fa fa-remove"></i>
            </button>
        </div>
        <hr/>
        <button class="btn btn-default" (click)="export()">
            <i class="fa fa-folder"></i>
            <span>Export</span>
        </button>
        <p *ngIf="exportResult">{{exportResult}}</p>
    </div>
</div>