.tool {
    color: black;
    font-size: 1em;
}

#console-canvas-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 00px;
    text-align: center;
    /*background-color: black;*/
}

#console-admin-div {
    padding: 2px 2px;
    font-size: 1em;
    /*text-align: center;*/
    z-index: 1001;
    position: absolute;
    /*height: 100%;*/
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    /*max-width: 325px;*/
    /*border: 1px;
    border-color: white;*/
}

#iso-upload-div {
    max-width: 325px;
}

#feedback-div {
    font-size: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#feedback-div button {
    font-size: 3.5em;
    border: 0px;
}

#feedback-div button:hover {
    opacity: .75;
    background-color: white;
}

#feedback-div button:active,
{
    color: limegreen;
    opacity: 1;
    background-color: white;
}

#question-div {
    position: absolute;
    width: 25%;
    top: 0px;
    left: 0px;
    z-index: 1002;
    /*background-color: gray;
    color: black;*/
    border-bottom-right-radius: 8px;
    text-align: left;
    padding: 8px;
}

#question-div .default {
    text-decoration: underline;
}

ul > li > ul > li {
    margin-left: 25px;
}

.indent {
    margin-left: 25px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}
