<div>
  <div class="input">
    <mat-form-field>
      <textarea matInput type="textarea" placeholder="Announcement" [(ngModel)]="announcement"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="announce()" [disabled]="!announcement.length">
      <mat-icon>send</mat-icon> Announce
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div>
  <h4>Active Users</h4>
  <div *ngIf="connections.length === 0" class="list">None</div>
  <div *ngFor="let c of connections; trackBy:trackById" class="list">{{c.profileName}}</div>
</div>

<mat-divider></mat-divider>

<div>
  <h4>Export (Beta)</h4>
  <div class="input">
    <mat-form-field>
      <input matInput type="text" placeholder="Topo Id list" [(ngModel)]="exportIds">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="export()" [disabled]="!exportIds.length">
      <mat-icon>export</mat-icon> Export
    </button>
  </div>
</div>

<div>
  <h4>Import (Beta)</h4>
  <div class="input">
    <button mat-raised-button color="primary" (click)="import()">
      <mat-icon>import</mat-icon> Import
    </button>
    <p *ngFor="let r of importResult">{{r}}</p>
  </div>
</div>
