.input {
    width: 100%;
    text-align: right;
    mat-form-field {
        width: 100%;
    }
}
.submit {
    width: 400px;
    text-align: right;
}

div {
    margin: 20px 0 40px 0;
}

div.list {
    margin: 4px 20px;
}
