<div class="upload-ui">
    <label *ngIf="!canUpload()" class="btn btn-link" htmlFor="fileSelector">
        <input id="fileSelector" type="file" style="display:none;" (change)="fileSelectorChanged($event)">
        <i class="fa fa-folder-open"></i> <span translate>SELECT-FILE</span>
    </label>
    <!-- <input id="fileSelector" type="file" (change)="fileSelectorChanged($event)"> -->
    <div *ngIf="filesQueued()">
        <div *ngFor="let qf of queuedFiles">
            <span *ngIf="qf.progress >= 0" class="badge badge-warning"><i class="fa fa-circle-o-notch fa-spin"></i> {{ qf.progress }}%</span>
            <span>{{ qf.name }}</span>
            <button *ngIf="!uploading" class="btn btn-link" (click)="dequeueFile(qf)">&times;</button>
        </div>
    </div>
    <button *ngIf="canUpload()" (click)="upload()" class="btn btn-primary" translate>UPLOAD</button>
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" (click)="errorMessage=null">
            <span>&times;</span>
        </button>
        <span>{{errorMessage}}</span>
    </div>
</div>

<div *ngIf="!canUpload()">
    <button class="btn btn-link" (click)="refresh()">
        <i class="fa fa-refresh" [class.fa-spin]="loading"></i> <span translate>REFRESH-LIST</span>
    </button>
    <div *ngIf="isos && isos.length > 2">
        <search-bar (onSearch)="search($event)"></search-bar>
    </div>
    <div *ngIf="isos" class="list-unstyled">
        <div *ngFor="let iso of visible" class="ellipsis">
            <button class="btn btn-link" (click)="select(iso)" [tooltip]="display(iso)">
                <i class="glyphicon glyphicon-cd"></i>
                <span>{{trunc(display(iso))}}</span>
            </button>
        </div>
    </div>
</div>
