
<div class="row">
    <app-error-div [errors]="errors"></app-error-div>
    <div class="col-xs-3 prop-label">
        <span>
            <!--<i class="fa fa-desktop"></i> <span>{{template.name}}</span>-->
            <span class="fa fa-tv"></span>
            <span>{{template.name}}</span>
        </span>
            <button (click)="edit()" class="btn btn-link prop-button">
                <i *ngIf="!editing" class="fa fa-caret-down"></i>
                <i *ngIf="editing" class="fa fa-caret-up"></i>
            </button>
    </div>
    <div class="col-xs-9">
        <app-vm-toolbar (loaded)="vmLoaded($event)" [template]="template" [isPublished]="topo.isPublished" class=""></app-vm-toolbar>
    </div>
    <div *ngIf="editing" class="col-xs-10 col-xs-offset-1 well">
        <!--<div *ngIf="editing">-->
            <div class="col-xs-12 prop">
                <!--<span *ngIf="template.owned" class="label label-default">local</span>-->
                <span class="prop-label col-xs-2" translate>TYPE</span>
                <div class="col-xs-10">
                <span *ngIf="hasParent()" class="label label-warning" translate>LINKED</span>
                <span *ngIf="!hasParent()" class="label label-info" translate>LOCAL</span>
                <inline-help *ngIf="hasParent()" #cloneHelp>
                    <span>
                        <span translate>HELP.CLONE-TEMPLATE</span>
                        <button (click)="clone()" class="btn btn-default" [class.disabled]="((!vm) || (vm.id))">
                            <i class="fa fa-copy"></i>
                        </button>
                    </span>
                </inline-help>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>NAME</span>
                <div class="col-xs-10">
                    <span *ngIf="((!vm) || (vm.id))">{{ template.name }}</span> <!--&mdash; cannot alter while deployed-->
                    <inline-editor *ngIf="((vm) && (!vm.id))"
                        type="text" size="30" min="5" max="50"
                        (onSave)="save()" [(ngModel)]="template.name">
                    </inline-editor>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>DESCRIPTION</span>
                <div class="col-xs-10">
                    <inline-editor type="textarea" (onSave)="save()" [(ngModel)]="template.description"
                        max="255" placeholder="Description" empty="description">
                    </inline-editor>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>NETWORKS</span>
                <div class="col-xs-10">
                    <inline-editor type="text" size="30" (onSave)="save()" [(ngModel)]="template.networks"
                        max="128"></inline-editor>
                    <inline-help>
                        <span translate>HELP.NETWORKS</span>
                    </inline-help>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>Hidden</span>
                <div class="col-xs-10">
                    <input type="checkbox" (change)="save()" [(ngModel)]="template.isHidden">
                    <inline-help>
                        <span translate>HELP.HIDDEN-TEMPLATE</span>
                    </inline-help>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <div class="col-xs-2 prop-label">
                    <span translate>ISO</span>
                    <button (click)="isosVisible=!isosVisible" class="btn btn-link prop-button">
                        <i class="fa fa-caret-down" [class.fa-caret-up]="isosVisible"></i>
                    </button>
                </div>
                <div class="col-xs-10">
                    <!-- <inline-editor type="text" size="30" (onSave)="save()" [(ngModel)]="template.iso"
                        max="128" empty="none" [disabled]="true"></inline-editor> -->
                    <p>
                        {{displayIso(template.iso)}}
                        <button *ngIf="template.iso" (click)="clearIso()" class="btn btn-default btn-sm">
                            <i class="fa fa-remove"></i>
                        </button>
                    </p>
                    <app-iso-manager *ngIf="isosVisible" [id]="topo.globalId" (selected)="isoChanged($event)"></app-iso-manager>
                </div>
            </div>
            <!--<dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>
                    <span *ngIf="((!vm) || (vm.id))">{{ template.name }} (cannot alter while deployed)</span>
                    <inline-editor *ngIf="((vm) && (!vm.id))" type="text" size="30" (onSave)="save()" [(ngModel)]="template.name"></inline-editor>
                </dd>
                <dt>Description</dt>
                <dd>
                    <inline-editor type="textarea" (onSave)="save()" [(ngModel)]="template.description"></inline-editor>
                </dd>
                <dt>Networks</dt>
                <dd>
                    <inline-editor type="text" size="30" (onSave)="save()" [(ngModel)]="template.networks"></inline-editor>
                    <inline-help>
                        <span>Enter a space-delimited list of network names. Nics are assigned respectively. (Requires redeployment)</span>
                    </inline-help>
                </dd>
                <dt>Type</dt>
                <dd>
                    <span *ngIf="template.owned" class="label label-default">local</span>
                    <span *ngIf="!template.owned" class="label label-warning">linked</span>
                    <inline-help *ngIf="!template.owned" #cloneHelp>
                        <span>This machine is linked from a different topology; you cannot save disk changes. If you plan to alter the disk,
                        ensure the machine is not deployed and then clone it &mdash;
                        <button (click)="clone()" class="btn btn-default" [class.disabled]="((!vm) || (vm.id))">
                            <i class="fa fa-copy"></i>
                        </button></span>
                    </inline-help>
                </dd>
            </dl>-->
            <div class="col-xs-12" style="text-align:center;">
                <hr/>
                <confirm-delete *ngIf="vm && !vm.id"
                    (onDelete)="remove()"
                    label="DELETE-TEMPLATE"
                    prompt="DELETE-TEMPLATE-PROMPT"
                    [asLink]="true">
                </confirm-delete>
            </div>
            <!--<button (click)="remove()" class="btn btn-default pull-right" [class.disabled]="((!vm) || (vm.id))" style="color:crimson">
                <i class="fa fa-trash"></i>
            </button>-->
        <!--</div>-->
    </div>
</div>
