<div class="row">
    <div *ngIf="loading" class="text-center">
        <span class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></span>
    </div>
    <div class="col-xs-12">
        <search-bar (searched)="termChanged($event)"></search-bar>
        <div *ngFor="let t of topos" class="col-sm-6">
            <div class="card">
                <!--<div class="col-xs-1">
                    <i class="fa fa-map"></i>
                </div>-->
                <div class="col-xs-12">
                    <h4>{{ t.name }}</h4>
                    <!--<h4><i class="fa fa-map"></i> {{ t.name }}</h4>-->
                    <!--<p><span class="label label-default">Templates</span> {{t.templates || 'None'}}</p>-->
                    <!--<hr/>-->
                    <div class="pull-right">
                        <button *ngIf="t.canEdit" class="btn btn-link"
                        [tooltip]="'EDIT'|translate|lowercase"
                        [routerLink]="['/topo', t.id]">
                            <i class="fa fa-edit fa-2x text text-success"></i>
                        </button>
                        <button class="btn btn-link"
                            [tooltip]="'LAUNCH'|translate|lowercase"
                            [routerLink]="['/mojo', t.id]">
                            <i class="fa fa-flash fa-2x text text-warning"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                    <p><span class="label label-default" translate>AUTHORS</span> {{ t.author }}</p>
                    <p><span class="label label-default" translate>DESCRIPTION</span> {{ t.description }}</p>
                </div>
                <!--<hr class="col-xs-10 col-xs-offset-1" />-->
            </div>
        </div>
        <div *ngIf="topos && topos.length == 0" class="hang" translate>BROWSE-LIST-EMPTY</div>
        <button *ngIf="hasMore>0" (click)="more()" class="btn btn-primary">
            <i class="fa fa-search"></i> <span translate>MORE</span> <span class="badge">{{hasMore}}</span>
        </button>
    </div>
</div>
