<div>
    <div *ngIf="topo">
        <div>
            <h4>{{ topo.name }} <i *ngIf="topo.isLocked" class="fa fa-lock fa-2x"></i></h4>
            <ul class="list-inline">
                <li>
                    <a class="btn btn-default btn-lg"
                        [class.link-active]="showing=='topo'"
                        (click)="show('topo')"
                        [tooltip]="'TOPOLOGY' | translate | lowercase"
                        >
                        <i class="fa fa-sitemap"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-default btn-lg"
                        [class.link-active]="showing=='templates'"
                        (click)="show('templates')"
                        [tooltip]="'MACHINES' | translate | lowercase"
                        >
                        <i class="fa fa-tv"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-default btn-lg"
                        [class.link-active]="showing=='document'"
                        (click)="show('document')"
                        [tooltip]="'DOCUMENT' | translate | lowercase"
                        >
                        <i class="fa fa-file-text-o"></i>
                    </a>
                </li>
                <li>
                    <button (click)="collaborate()"
                        [tooltip]="'COLLABORATE' | translate | lowercase"
                        class="btn btn-default btn-lg"
                        [class.btn-primary]="collaborationVisible || messageCount">
                        <i class="fa fa-users"></i>
                        <span *ngIf="messageCount" class="badge">{{messageCount}}</span>
                    </button>
                </li>
            </ul>
        </div>
        <app-error-div [errors]="errors"></app-error-div>
        <div [class.hidden]="showing!='topo'" class="col-xs-12 well">
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>NAME</span>
                <inline-editor class="col-xs-10" type="text" size="30" (onSave)="update()" [(ngModel)]="topo.name"></inline-editor>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>DESCRIPTION</span>
                <inline-editor class="col-xs-10" type="textarea" rows="3" (onSave)="update()" [(ngModel)]="topo.description"></inline-editor>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>AUTHORS</span>
                <inline-editor class="col-xs-10" type="text" size="30" (onSave)="update()" [(ngModel)]="topo.author"></inline-editor>

                <!-- <topo-members class="col-xs-10" [workers]="topo.workers"></topo-members> -->
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>PUBLISH</span>
                <div class="col-xs-10">
                    <button *ngIf="!topo.isPublished" (click)="publish()" class="btn btn-link" [@eventState]="getEvent('publish').state" [tooltip]="'ENABLE' | translate | lowercase">
                        <i class="fa fa-toggle-off"></i>
                    </button>
                    <span *ngIf="topo.isPublished">
                        <button (click)="unpublish()" class="btn btn-link" [@eventState]="getEvent('publish').state" [tooltip]="'DISABLE' | translate | lowercase">
                            <i class="fa fa-toggle-on"></i>
                        </button>
                        <button (click)="clipPublishUrl()" class="btn btn-link" [@eventState]="getEvent('clipPublishUrl').state" [tooltip]="'COPY' | translate | lowercase">
                                <i class="fa fa-clipboard"></i>
                        </button>
                    </span>
                    <inline-help message="HELP.PUBLISH"></inline-help>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>SHARE</span>
                <div class="col-xs-10">
                    <button (click)="share()" class="btn btn-link" [@eventState]="getEvent('share').state" [tooltip]="'REFRESH' | translate | lowercase">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <!-- <span *ngIf="topo.shareCode">
                        <button (click)="unshare()" class="btn btn-link" [tooltip]="'DISABLE' | translate | lowercase">
                            <i class="fa fa-toggle-on"></i>
                        </button>
                    </span> -->
                    <inline-help message="HELP.SHARE"></inline-help>
                    <div>
                        <small> {{topo.shareCode}} </small>
                        <button (click)="clipShareUrl()" class="btn btn-link" [@eventState]="getEvent('clipShareUrl').state" [tooltip]="'COPY' | translate | lowercase">
                            <i class="fa fa-clipboard"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>TEAM</span>
                <app-workers class="col-xs-10" [workers]="topo.workers"></app-workers>
            </div>
            <div class="col-xs-12" style="text-align:center;">
                <hr/>
                <confirm-delete
                    (onDelete)="delete()"
                    label="DELETE-TOPO"
                    prompt="DELETE-TOPO-PROMPT">
                </confirm-delete>
            </div>
        </div>
        <div [class.hidden]="showing!='templates'"  class="col-xs-12">
            <div class="col-xs-8">
                <div class="col-xs-12 well">
                    <p *ngIf="!topo.templates || topo.templates.length == 0" translate>MACHINE-LIST-EMPTY</p>
                    <div *ngIf="topo.templates" >
                        <div *ngFor="let t of topo.templates" class="truncate">
                            <app-template-editor
                                [topo]="topo"
                                [template]="t"
                                ></app-template-editor>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 well" *ngIf="topo.gamespaceCount">
                    <div class="col-xs-12 prop">
                        <p>
                            <i class="fa fa-warning text text-warning"></i>
                            <span translate>HELP.WORKSPACE-GAMES</span>
                        </p>
                        <span class="col-xs-2 prop-label" translate>WORKSPACE-GAME-COUNT</span>
                        <div class="col-xs-10">
                            <span class="label label-warning" [@eventState]="getEvent('gameCount').state">{{topo.gamespaceCount}}</span>
                            <confirm-delete
                                (onDelete)="killGames()"
                                label="DELETE-WORKSPACE-GAMES"
                                prompt="DELETE-WORKSPACE-GAMES-PROMPT">
                            </confirm-delete>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div style="text-align:center;">
                    <button (click)="toggleSelector()" class="btn btn-info">
                        <i class="fa fa-plus-circle"></i> <span translate>ADD-MACHINES</span>
                    </button>
                </div>
                <div *ngIf="selectorVisible">
                    <search-bar (searched)="search($event)"></search-bar>
                    <app-entity-list
                        [entities]="publishedTemplates"
                        [icon]="addIcon"
                        (selected)="onAdded($event)"></app-entity-list>
                </div>
            </div>
        </div>
        <div [class.hidden]="showing!='document'"  class="col-xs-12 well">
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label" translate>EXTERNAL-URL</span>
                <div class="col-xs-10">
                    <inline-editor
                        type="text" size="30"
                        (onSave)="update()"
                        [(ngModel)]="topo.documentUrl"
                        default="none"
                        placeholder="External Document Url">
                    </inline-editor>
                    <inline-help message="HELP.EXTERNAL-URL"></inline-help>
                </div>
                <span class="col-xs-2 prop-label" translate>INTERNAL-DOC</span>
                <div class="col-xs-10"></div>
            </div>
            <div *ngIf="!topo.documentUrl" class="col-xs-12">
                <app-document-editor [id]="topo.globalId"></app-document-editor>
            </div>
        </div>
    </div>
</div>

<notification-panel></notification-panel>

<div [hidden]="!showCollaboration()" id="collab-div">
    <app-chat-messages *ngIf="topo" [space]="topo"></app-chat-messages>
</div>

<div *ngIf="showOverlay" class="overlay">
    <div class="row col-xs-4 col-xs-offset-4 well vcenter">
        <h2 translate>EVENT.TOPO.OVER</h2>
        <button class="btn btn-default btn-lg" (click)="redirect()" translate>CONTINUE</button>
    </div>
</div>
