<div class="row">
    <div *ngIf="loading" class="text-center">
        <span class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></span>
    </div>
    <div>
        <button (click)="showEditor()" class="btn btn-link">
            <i class="fa fa-plus-circle"></i> <span translate>NEW</span>
        </button>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
        <topo-creator *ngIf="editorVisible"></topo-creator>
    </div>
    <search-bar (onSearch)="termChanged($event)" class="col-xs-12">
        <div *ngFor="let t of topos" class="col-sm-6">
            <div class="card">
            <div class="col-xs-12">
                <h4>{{ t.name }}</h4>
                <div class="pull-right">
                    <button *ngIf="t.canEdit" class="btn btn-link" [tooltip]="'EDIT' | translate | lowercase" [routerLink]="['/topo', t.id]">
                        <i class="fa fa-edit fa-2x text text-success"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <p><span class="label label-default" translate>AUTHORS</span> {{t.author}}</p>
                <p><span class="label label-default" translate>DESCRIPTION</span> {{ t.description }}</p>
            </div>
            </div>
        </div>
        <div *ngIf="topos && topos.length == 0" class="hang" translate>WORKSPACE-LIST-EMPTY</div>
    </search-bar>
</div>