<div class="workspace-lobby">

  <div class="search-tools">
    <div>
      <mat-button-toggle-group *ngIf="hasProfile" (change)="filterChanged($event)" [value]="filter">
        <mat-button-toggle value="public">Public</mat-button-toggle>
        <mat-button-toggle value="private">Private</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <mat-button-toggle-group (change)="fetch_fresh()" [(ngModel)]="model.sort">
        <mat-button-toggle value="age" checked="true">Newest</mat-button-toggle>
        <mat-button-toggle value="">Alpha</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>

  <div *ngIf="showLoginMsg" class="lobby-section">
    Feel free to preview, but you'll need to login to use the site!
  </div>

  <div *ngIf="showAdd && hasProfile" class="lobby-section">
      <topomojo-workspace-creator></topomojo-workspace-creator>
  </div>

  <div *ngIf="hasProfile" [class.lobby-section]="showGames">
    <topomojo-gamespace-lobby (activated)="hasSomeGames($event)"></topomojo-gamespace-lobby>
  </div>

  <div class="lobby-section">
    <topomojo-workspace-summary *ngFor="let item of list" [summary]="item"></topomojo-workspace-summary>
  </div>
  <button *ngIf="more" (click)="fetch()" mat-button color="primary"><mat-icon>search</mat-icon>More</button>

</div>
