<div class="workspace-lobby">

  <div class="search-tools">
    <div>
      <mat-button-toggle-group *ngIf="hasProfile" (change)="filterChanged($event)" [value]="filter">
        <mat-button-toggle value="public" matTooltip="Filter">Public</mat-button-toggle>
        <mat-button-toggle value="private" matTooltip="Filter">Private</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <mat-button-toggle-group (change)="sortChanged($event)" [(ngModel)]="model.sort">
        <mat-button-toggle value="age" matTooltip="Sort">Newest</mat-button-toggle>
        <mat-button-toggle value="" matTooltip="Sort">Name</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>

  <div *ngIf="showLoginMsg" class="lobby-section">
    Feel free to preview, but you'll need to login to use the site!
  </div>

  <div *ngIf="fetching" class="center">
    <p class="spin"><mat-spinner mode="determinate" diameter="48" value="92"></mat-spinner></p>
  </div>

  <div *ngIf="showAdd && hasProfile" class="lobby-section">
      <topomojo-workspace-creator></topomojo-workspace-creator>
  </div>

  <div *ngIf="hasProfile" [class.lobby-section]="showGames">
    <topomojo-gamespace-lobby (activated)="hasSomeGames($event)"></topomojo-gamespace-lobby>
  </div>

  <div class="lobby-section">
    <p *ngIf="none">No workspace found</p>
    <topomojo-workspace-summary *ngFor="let item of list; trackBy: trackById" [summary]="item"></topomojo-workspace-summary>
  </div>
  <div *ngIf="hasMore" class="center">
    <button (click)="fetch()" mat-button color="primary"><mat-icon>search</mat-icon>More</button>
  </div>

</div>
