<mat-divider></mat-divider>
<div class="card">
  <div class="text">
    <h2>{{summary.name}}</h2>
    <p>{{summary.description || 'No description available'}}</p>
    <p>By: {{summary.author}}</p>
    <p class="mat-caption">{{summary.whenCreated | ago }} on {{summary.whenCreated | shortdate }}</p>
  </div>
  <div class="tools">
      <a mat-mini-fab *ngIf="summary.canEdit" color="primary"
      matTooltip="Build" [routerLink]="['/topo', summary.id]">
      <mat-icon>build</mat-icon>
    </a>
      <a [disabled]="!summary.isPublished"
      mat-mini-fab color="primary"
      matTooltip="Preview"
      [routerLink]="['/mojo', summary.id]">
      <mat-icon>flash_on</mat-icon>
      </a>
  </div>
</div>
