<!-- <div>

    <button class="btn btn-default btn-sm" (click)="showUploader()">
        <i class="fa fa-upload"></i> Upload
    </button>
</div>
 -->


<div class="upload-ui">
    <label class="btn btn-link" htmlFor="fileSelector">
        <!-- <input id="fileSelector" type="file" style="display:none;" (change)="fileSelectorChanged($event)"> -->
        <i class="fa fa-folder-open"></i> Browse for local iso
    </label>
    <input id="fileSelector" type="file" (change)="fileSelectorChanged($event)">
    <div *ngIf="filesQueued()">
        <p *ngFor="let f of queuedFiles">
            <i class="glyphicon glyphicon-cd"></i> {{ f.name }}
        </p>
        <button (click)="upload()" class="btn btn-primary" [disabled]="uploading">Upload</button>
    </div>
</div>

<div >
    <button class="btn btn-link" (click)="refresh()">
        <i class="fa fa-refresh" [class.fa-spin]="loading"></i> Refresh uploaded iso list
    </button>
    <ul *ngIf="isos" class="list-unstyled">
        <li *ngFor="let iso of isos">
            <button class="btn btn-link" (click)="select(iso)">
                <i class="glyphicon glyphicon-cd"></i> {{iso}}
            </button>
        </li>
    </ul>
</div>