    <!--<div class="col-xs-1">
        <div class="avatar">
            <i class="fa fa-desktop"></i>
        </div>
    </div>-->
<div class="row">
    <div class="col-xs-3 prop-label">
        <span>
            <!--<i class="fa fa-desktop"></i> <span>{{tref.name}}</span>-->
            <span class="fa fa-tv"></span>
            <span>{{tref.name}}</span>
        </span>
            <button (click)="edit()" class="btn btn-link prop-button">
                <i *ngIf="!editing" class="fa fa-caret-down"></i>
                <i *ngIf="editing" class="fa fa-caret-up"></i>
            </button>
    </div>
    <div class="col-xs-9">
        <vm-toolbar (onLoaded)="vmLoaded($event)" [tref]="tref" class="pull-right"></vm-toolbar>
    </div>
    <div *ngIf="editing" class="col-xs-10 col-xs-offset-1 well">
        <!--<div *ngIf="editing">-->
            <div class="col-xs-12 prop">
                <!--<span *ngIf="tref.owned" class="label label-default">local</span>-->
                <span class="prop-label col-xs-2">Type</span>
                <div class="col-xs-10">
                <span *ngIf="!tref.owned" class="label label-warning">linked</span>
                <span *ngIf="tref.owned" class="label label-info">local</span>
                <inline-help *ngIf="!tref.owned" #cloneHelp>
                    <span>This machine is linked from a different topology; you cannot save disk changes. If you plan to alter the disk,
                    ensure the machine is not deployed and then clone it &mdash;
                    <button (click)="clone()" class="btn btn-default" [class.disabled]="((!vm) || (vm.id))">
                        <i class="fa fa-copy"></i>
                    </button></span>
                </inline-help>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">Name</span>
                <div class="col-xs-10">
                    <span *ngIf="((!vm) || (vm.id))">{{ tref.name }}</span> <!--&mdash; cannot alter while deployed-->
                    <inline-editor *ngIf="((vm) && (!vm.id))"
                        type="text" size="30" min="5" max="50"
                        (onSave)="save()" [(ngModel)]="tref.name">
                    </inline-editor>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">Description</span>
                <div class="col-xs-10">
                    <inline-editor type="textarea" (onSave)="save()" [(ngModel)]="tref.description"
                        max="255" placeholder="Description" empty="description">
                    </inline-editor>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">Networks</span>
                <div class="col-xs-10">
                    <inline-editor type="text" size="30" (onSave)="save()" [(ngModel)]="tref.networks"
                        max="128"></inline-editor>
                    <inline-help>
                        <span>Enter a space-delimited list of network names. Nics are assigned respectively. (Requires redeployment)</span>
                    </inline-help>
                </div>
            </div>
            <!--<dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>
                    <span *ngIf="((!vm) || (vm.id))">{{ tref.name }} (cannot alter while deployed)</span>
                    <inline-editor *ngIf="((vm) && (!vm.id))" type="text" size="30" (onSave)="save()" [(ngModel)]="tref.name"></inline-editor>
                </dd>
                <dt>Description</dt>
                <dd>
                    <inline-editor type="textarea" (onSave)="save()" [(ngModel)]="tref.description"></inline-editor>
                </dd>
                <dt>Networks</dt>
                <dd>
                    <inline-editor type="text" size="30" (onSave)="save()" [(ngModel)]="tref.networks"></inline-editor>
                    <inline-help>
                        <span>Enter a space-delimited list of network names. Nics are assigned respectively. (Requires redeployment)</span>
                    </inline-help>
                </dd>
                <dt>Type</dt>
                <dd>
                    <span *ngIf="tref.owned" class="label label-default">local</span>
                    <span *ngIf="!tref.owned" class="label label-warning">linked</span>
                    <inline-help *ngIf="!tref.owned" #cloneHelp>
                        <span>This machine is linked from a different topology; you cannot save disk changes. If you plan to alter the disk,
                        ensure the machine is not deployed and then clone it &mdash;
                        <button (click)="clone()" class="btn btn-default" [class.disabled]="((!vm) || (vm.id))">
                            <i class="fa fa-copy"></i>
                        </button></span>
                    </inline-help>
                </dd>
            </dl>-->
            <div class="col-xs-12" style="text-align:center;">
                <hr/>
                <confirm-delete *ngIf="vm && !vm.id"
                    (onDelete)="remove()"
                    label="Delete Template"
                    [asLink]="true"
                    prompt="Confirm delete of this machine.">
                </confirm-delete>
            </div>
            <!--<button (click)="remove()" class="btn btn-default pull-right" [class.disabled]="((!vm) || (vm.id))" style="color:crimson">
                <i class="fa fa-trash"></i>
            </button>-->
        <!--</div>-->
    </div>
</div>