<div *ngIf="permissions">
    <ul class="list-inline">
        <li *ngFor="let p of permissions">
            <i class="fa fa-user"></i>
            <span>{{p.person.name}}</span>
            <button *ngIf="(p.value < 15)" (click)="delist(p.person.id)" class="btn btn-link">
                <i class="fa fa-times-circle"></i>
            </button>
        </li>
        <!--<li>
            <inline-editor type="text"  [size]="30" (onSave)="addUser()" [(ngModel)]="addUserEmail"></inline-editor>
        </li>-->
    </ul>
</div>