<div class="row">
    <div class="col-md-8">
        <div *ngIf="topo">
            <h3><inline-editor type="text" size="30" (onSave)="update()" [(ngModel)]="topo.name"></inline-editor></h3>
            <p><inline-editor type="textarea" rows="3" (onSave)="update()" [(ngModel)]="topo.description"></inline-editor></p>
            <topo-members [topoId]="topo.id"></topo-members>
            <p *ngIf="!trefs">Loading...</p>
            <p *ngIf="trefs && trefs.length == 0">No templates referenced</p>
            <ul *ngIf="trefs" class="list-unstyled">
                <li *ngFor="let t of trefs" class="truncate">
                    <template-editor [tref]="t" (onRemoved)="remove($event)"></template-editor>
                </li>
            </ul>
            <div>
                <button *ngIf="!deleteMsgVisible" (click)="confirmDelete()" class="btn btn-danger btn-large">
                    <i class="fa fa-trash"></i> Delete Topology
                </button>
                <p *ngIf="deleteMsgVisible" class="alert alert-danger">
                    Please confirm you intend to delete this Topology
                    along with its templates.
                    <button (click)="delete()" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Delete</button>
                    <button (click)="cancelDelete()" class="btn btn-danger">
                        <i class="fa fa-remove"></i> Cancel</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <button (click)="toggleSelector()" class="btn btn-link">
            <i class="fa fa-search"></i> Find Templates</button>
        <div *ngIf="selectorVisible">
            <search-bar (onSearch)="search($event)"></search-bar>
            <entity-list
                [entities]="publishedTemplates"
                [icon]="addIcon"
                (onSelected)="onAdded($event)"></entity-list>
        </div>
    </div>
</div>