<div>
    <h3><i class="fa fa-map"></i> TopoMojo</h3>
    <p>{{status}}</p>
    <p *ngIf="errorMessage" class="text text-danger">{{ errorMessage }}</p>

    <ul *ngIf="summary" class="list-inline">
        <li *ngIf="!summary.id && !launching">
            <button (click)="launch()" class="btn btn-primary">
                <i class="fa fa-play"></i> Launch
            </button>
        </li>
        <li *ngFor="let vm of summary.vms">
            <button *ngIf="!vm.visible" class="btn btn-default" (click)="launchConsole(vm.id)">
                <i class="fa fa-monitor fa-2x"></i> {{ vm.name | untagged }}
            </button>
        </li>
        <li *ngIf="summary.id" class="pull-right">
            <confirm-delete prompt="Confirm deletion of this instance." (onDelete)="destroy($event)"></confirm-delete>
        </li>
    </ul>
</div>

<div [innerHtml]="renderedDocument"></div>