<!--<div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12">-->
        <h4>Browse Topologies</h4>
        <div class="row">
            <div class="col-xs-9">
                <search-bar (onSearch)="termChanged($event)"></search-bar>
            </div>
            <div class="col-xs-3">
                <button (click)="showEditor()" class="btn btn-link pull-right">
                    <i class="fa fa-plus-circle"></i> <span>New</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-4">
                <topo-creator *ngIf="editorVisible"></topo-creator>
            </div>
        </div>
        <div *ngIf="topos" class="row">
            <div class="">
                <div *ngFor="let t of topos" class="row tile">
                    <!--<div class="row">-->
                        <div class="col-xs-2">
                            <i class="fa fa-map avatar"></i>
                        </div>
                        <div class="col-xs-8">
                            <h4>{{ t.name }}</h4>
                            <p>{{ t.description }}</p>
                            <p><span class="label label-default">People</span> {{t.people}}</p>
                            <p><span class="label label-default">Templates</span> {{t.templates || 'None'}}</p>
                        </div>
                        <div class="col-xs-2 pull-right">
                            <button *ngIf="t.canManage" class="btn btn-link pull-right" [routerLink]="['/topo', t.id]">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <button *ngIf="hasMore>0" (click)="more()" class="btn btn-primary">
            <i class="fa fa-search"></i> More <span class="badge">{{hasMore}}</span>
        </button>
    <!--</div>
</div>-->