<div class="row">
    <div *ngIf="topo" class="col-xs-12">
        <div>
            <h4>{{ topo.name }}</h4>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default btn-lg" [class.link-active]="showing=='topo'" (click)="show('topo')">
                    <i class="fa fa-sitemap"></i> Topo
                </a>
                <a class="btn btn-default btn-lg" [class.link-active]="showing=='templates'" (click)="show('templates')">
                    <i class="fa fa-tv"></i> Machines
                </a>
                <a class="btn btn-default btn-lg" [class.link-active]="showing=='document'" (click)="show('document')">
                    <i class="fa fa-file-text-o"></i> Document
                </a>
            </div>
            <p *ngIf="!trefs">Loading...</p>
        </div>
        <div [class.hidden]="showing!='topo'" class="col-xs-12 well">
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">Name</span>
                <inline-editor class="col-xs-10" type="text" size="30" (onSave)="update()" [(ngModel)]="topo.name"></inline-editor>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">Description</span>
                <inline-editor class="col-xs-10" type="textarea" rows="3" (onSave)="update()" [(ngModel)]="topo.description"></inline-editor>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">Publish</span>
                <div class="col-xs-10">
                    <button *ngIf="!topo.isPublished" (click)="publish()" class="btn btn-link" tooltip="enable">
                        <i class="fa fa-toggle-off"></i>
                    </button>
                    <span *ngIf="topo.isPublished">
                        <button (click)="unpublish()" class="btn btn-link" tooltip="disable">
                            <i class="fa fa-toggle-on"></i>
                        </button>
                        <button (click)="clipPublishUrl()" class="btn btn-link" tooltip="copy">
                                <i class="fa fa-clipboard"></i>
                        </button>
                    </span>
                    <inline-help>
                        When published, this topology is discoverable in the browser.
                    </inline-help>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">Share</span>
                <div class="col-xs-10">
                    <button *ngIf="!topo.shareCode" (click)="share()" class="btn btn-link" tooltip="enable">
                        <i class="fa fa-toggle-off"></i>
                    </button>
                    <span *ngIf="topo.shareCode">
                        <button (click)="unshare()" class="btn btn-link" tooltip="disable">
                            <i class="fa fa-toggle-on"></i>
                        </button>
                        <button (click)="clipShareUrl()" class="btn btn-link" tooltip="copy">
                            <i class="fa fa-clipboard"></i>
                        </button>
                        <!--<a href="/enlist/{{topo.shareCode}}">url-to-distribute</a>-->
                    </span>
                    <inline-help>
                        Distribute this link to people you want to help build this topology.
                    </inline-help>
                </div>
            </div>
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">People</span>
                <topo-members class="col-xs-10" [topoId]="topo.id"></topo-members>
            </div>
            <div class="col-xs-12" style="text-align:center;">
                <hr/>
                <confirm-delete
                    (onDelete)="delete()"
                    label="Delete Topology"
                    prompt="Please confirm you intend to delete this Topology
                    along with its templates.">
                </confirm-delete>
            </div>
            <textarea id="clipboardText" class="offscreen"></textarea>

        </div>
        <div [class.hidden]="showing!='templates'"  class="col-xs-12 well">
            <p *ngIf="!trefs || trefs.length == 0">No machines referenced yet.</p>
            <div *ngIf="trefs" >
                <div *ngFor="let t of trefs" class="truncate">
                    <template-editor [topo]="topo" [tref]="t" (onRemoved)="remove($event)"></template-editor>
                </div>
            </div>
            <div>
                <hr/>
                <div class="col-xs-12" style="text-align:center;">
                    <button (click)="toggleSelector()" class="btn btn-info">
                        <i class="fa fa-plus-circle"></i> Add Machines
                    </button>
                </div>
                <div *ngIf="selectorVisible">
                    <search-bar (onSearch)="search($event)"></search-bar>
                    <entity-list
                        [entities]="publishedTemplates"
                        [icon]="addIcon"
                        (onSelected)="onAdded($event)"></entity-list>
                </div>
            </div>
        </div>
        <div [class.hidden]="showing!='document'"  class="col-xs-12 well">
            <div class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">External Url</span>
                <div class="col-xs-10">
                    <inline-editor
                        type="text" size="30"
                        (onSave)="update()"
                        [(ngModel)]="topo.documentUrl"
                        default="none"
                        placeholder="External Document Url">
                    </inline-editor>
                    <inline-help>
                        If your Markdown document is hosted elsewhere, enter the url here.
                        This value overrides the internal Markdown document.
                    </inline-help>
                </div>
            </div>
            <div *ngIf="!topo.documentUrl" class="col-xs-12 prop">
                <span class="col-xs-2 prop-label">Internal Doc</span>
                <span class="col-xs-10"></span>
                <div class="col-xs-12">
                    <document-editor [id]="topo.globalId"></document-editor>
                    <hr />
                    <image-manager [id]="topo.globalId"></image-manager>
                </div>
            </div>
        </div>
    </div>
</div>
