#editor {
    /* width: 100%; */
    height: 90vh;
    resize: none;
}
#editor-div {
    /* display: inline-block; */
    /* padding: 8px; */
    /* margin: 2px; */
    /* width: 480px; */
    vertical-align: top;
}
#preview-div {
    /* width: 480px; */
    height: 100vh;
    /* display: inline-block; */
    vertical-align: top;
    overflow-y: auto;
}

.fixed-height {
    height: 90vh;
}
