<div class="filters">
  <mat-button-toggle-group (change)="filterChanged($event)">
    <mat-button-toggle value="all" checked="true" matTooltip="Filter">All</mat-button-toggle>
    <mat-button-toggle value="public" matTooltip="Filter">Public</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-card *ngFor="let topo of topos; trackBy: trackById" class="card">
  <div class="detail">
    <div>{{topo.name}}
      <mat-icon *ngIf="topo.isPublished">public</mat-icon>
    </div>
    <div class="mat-caption">{{topo.globalId}}</div>
    <div class="mat-caption">{{ topo.whenCreated | ago }} on {{ topo.whenCreated | shortdate }} by {{workers(topo)}}</div>
    <div *ngIf="current===topo.id">
      <div>
        <button mat-icon-button (click)="changeLimit(topo, -1)" matTooltip="decrement"><mat-icon>remove</mat-icon></button>
        <span>Template Limit: {{topo.templateLimit}}</span>
        <button mat-icon-button (click)="changeLimit(topo, 1)" matTooltip="increment"><mat-icon>add</mat-icon></button>
      </div>
      <mat-divider inset="true"></mat-divider>
      <div *ngFor="let t of topo.templates" class="vm">
        <div class="name">{{t.name}}</div>
        <topomojo-vm-controller [template]="t"></topomojo-vm-controller>
      </div>
    </div>
  </div>
  <div class="actions">
    <button matTooltip="View" (click)="select(topo)" mat-mini-fab>
      <mat-icon>tv</mat-icon>
    </button>
    <a matTooltip="Navigate" [routerLink]="['/topo', topo.id]" mat-mini-fab>
      <mat-icon>build</mat-icon>
    </a>
    <topomojo-confirm-button (confirmed)="delete(topo)" fab="true"></topomojo-confirm-button>
  </div>
</mat-card>
<div *ngIf="hasMore" class="center">
  <button (click)="more()" mat-button color="primary"><mat-icon>search</mat-icon>More</button>
</div>
