<div>
  <button class="btn btn-default" (click)="getUser()" id='getUser'>Show Payload</button>
  <button class="btn btn-default" (click)="removeUser()" id='removeUser'>Delete Payload</button>
  <button class="btn btn-default" (click)="clearState()" id='clearState'>Clear Stale State</button>
  <button class="btn btn-default" (click)="startSigninMainWindow()" id='startSigninMainWindow'>Login</button>
  <button class="btn btn-default" (click)="startSignoutMainWindow()" id='startSignoutMainWindow'>Logout</button>
</div>
<div>
  <!-- <button class="btn btn-default" (click)="endSigninMainWindow()" id='endSigninMainWindow'>Callback</button> -->
</div>
<div>
  <!-- <button class="btn btn-default" (click)="endSignoutMainWindow()" id='endSignoutMainWindow'>Callback</button> -->
</div>
<div *ngIf="_user">
  <pre>{{_user | json}}</pre>
</div>