<div>
  <mat-toolbar *ngIf="state.visible" color="primary">
    <a *ngIf="!sidenav" routerLink="/topo" class="title" mat-button>
      <span>{{appName}}</span>
    </a>
    <div class="flex-spacer"></div>

    <input [hidden]="!searchOpen" type="search" aria-label="search" placeholder="Search" [(ngModel)]="term" (input)="termChanged()">
    <button *ngIf="state.search" (click)="searchOpen=!searchOpen" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <button
      *ngFor="let b of state.buttons"
      type="button"
      aria-label="b.description"
      (click)="b.clicked()"
      [color]="b.color ? b.color : 'front'"
      [matTooltip]="b.text"
      [matBadge]="b.badge" [matBadgeHidden]="!b.badge" matBadgeColor="accent"
      mat-icon-button>
      <mat-icon *ngIf="b.icon" aria-label="icon">{{b.icon}}</mat-icon>
    </button>

    <button *ngIf="!profile.id" [routerLink]="['/login']" mat-flat-button><mat-icon>account_box</mat-icon>Login</button>

    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item *ngIf="profile.isAdmin" [routerLink]="['/admin']"><mat-icon>settings_new</mat-icon>Dashboard</button>
      <button mat-menu-item (click)="toggleTheme()"><mat-icon>invert_colors</mat-icon>Theme</button>
      <button mat-menu-item *ngIf="profile.id" [routerLink]="['/logout']"><mat-icon>account_box</mat-icon>Logout</button>
    </mat-menu>

    <button *ngIf="profile.id" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- For some reason matInput fields aren't being styled until at least 1 mat-form-field has been rendered -->
    <!-- class.hack sets width to 0, but it is still "rendered" -->
    <mat-form-field class="hack">
      <input matInput type="search">
    </mat-form-field>
  </mat-toolbar>
</div>
