<div class="toolbar">
<ul *ngIf="working" class="list-inline">
    <li><i class="fa fa-spinner fa-spin"></i></li>
    <li>
        <span *ngIf="vm && vm.task && vm.task.name">{{ vm.task.name }}...</span>
        <span *ngIf="vm && vm.task && vm.task.progress > 0">{{vm.task.progress}}%</span>
    </li>
</ul>
<div *ngIf="!working" [ngSwitch]="vm.status" class="list-inline">
    <li><span class="label"
        [class.label-default]="vm.status == 'created'"
        [class.label-primary]="vm.status == 'initialized'"
        [class.label-success]="vm.status == 'deployed'">{{vm.status}}</span></li>
    <div class="btn-group">
        <button class="btn btn-default" (click)="startRefresh()" tooltip="refresh"><i class="fa fa-refresh"></i></button>
        <ng-template [ngSwitchCase]="'created'">
            <button class="btn btn-default" (click)="initialize()" tooltip="initialize"><i class="fa fa-cog"></i></button>
        </ng-template>
        <ng-template [ngSwitchCase]="'initialized'">
            <button class="btn btn-default" (click)="deploy()" tooltip="deploy"><i class="fa fa-bolt"></i></button>
        </ng-template>
        <ng-template [ngSwitchCase]="'deployed'">
            <button class="btn btn-default" (click)="start()" tooltip="start" *ngIf="!isRunning()"><i class="fa fa-play"></i></button>
            <button class="btn btn-default" (click)="stop()" tooltip="stop" *ngIf="isRunning()"><i class="fa fa-stop"></i></button>
            <button class="btn btn-default" (click)="display()" tooltip="console"><i class="fa fa-desktop"></i></button>
            <button class="btn btn-default" (click)="revert()" tooltip="revert"><i class="fa fa-fast-backward"></i></button>
            <button class="btn btn-default" (click)="save()" tooltip="save"><i class="fa fa-save"></i></button>
            <button class="btn btn-default" (click)="delete()" tooltip="delete"><i class="fa fa-trash"></i></button>
        </ng-template>
    </div>
</div>
<div *ngIf="error" class="alert alert-danger alert-dismissible" role="alert">
    <button (click)="clearError()" type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    <span>{{error}}</span>
</div>
<div *ngIf="!working && vm.question" class="alert alert-warning">
    <p>{{ vm.question.prompt }}</p>
    <button *ngFor="let c of vm.question.choices"
        (click)="answer(c)"
        [class.selected]="c.key === vm.question.defaultChoice"
        class="btn btn-warning">{{c.label}}</button>
</div>
</div>