<h2>Overview</h2>

<h4>Accounts</h4>
<p>
    Login to build simulation topologies.  An administrator can register you.  Initiate a password-reset
    to set your password.
</p>

<h4>Topologies</h4>
<p>
    To create a new topology, use the 'new' link on the 'Browser' page.
    Edit the topology to add/remove team members, add/remove templates, and manage virtual machines
    deployed from your templates.
</p>

<h4>Templates</h4>
<p>
    You can use any published templates.  If you add an external template to your topology,
    you can deploy it, but will not be able to save it (because you do not own it).  You can,
    however, clone that template if you want to own it, and thus save state to the virtual disk.
    It is a good practice to use external templates where it makes sense to do so.
</p>
<p>
    You cannot delete or clone templates if it has a vm deployed.
</p>