<div class="row">
    <p class="col-xs-12 text-center" translate>HELP.DESCRIPTION</p>
    <div class="col-xs-4 text-center">
        <button class="btn btn-default btn-lg"
            [routerLink]="['/BROWSE']"
            [tooltip]="'BROWSE' | translate | lowercase">
            <i class="fa fa-list fa-3x"></i>
        </button>
        <p translate>HELP.HOME-BROWSE</p>
    </div>
    <div class="col-xs-4 text-center">
        <button class="btn btn-default btn-lg"
            [routerLink]="['/topo']"
            [tooltip]="'WORKSPACE' | translate | lowercase">
            <i class="fa fa-wrench fa-3x"></i>
        </button>
        <p translate>HELP.HOME-WORK</p>
    </div>
    <div class="col-xs-4 text-center">
        <button class="btn btn-default btn-lg"
        [routerLink]="['/mojo']"
        [tooltip]="'GAMESPACE' | translate | lowercase">
            <i class="fa fa-flash fa-3x"></i>
        </button>
        <p translate>HELP.HOME-PLAY</p>
    </div>
</div>
