<h2 class="text-center login-title">TopoMojo</h2>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" id="login-well">
        <section class="well">
            <div *ngIf="allowExternalLogin" class="text-center">
                <button (click)="oidcLogin()" class="btn btn-primary btn-lg">
                    <i class="fa fa-login fa-3x"></i> External Login
                </button>
                <hr />
            </div>
            <h5>Enter local account credentials:</h5>
            <form (ngSubmit)="login()" #loginForm="ngForm">
                <div class="form-group">
                    <label class="sr-only" for="username">Username</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input
                            class="form-control"
                            id="username"
                            name="username"
                            [(ngModel)]="username"
                            placeholder="Username"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                        <input
                            class="form-control"
                            id="password"
                            type="password"
                            name="password"
                            [(ngModel)]="password"
                            placeholder="Password"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <p *ngIf="error" class="text text-danger">Invalid username or password</p>
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
                    <button type="button" (click)="reset()" class="btn btn-link pull-right">Reset</button>
                    <p *ngIf="resetMessage" class="text text-info">{{ resetMessage }}</p>
                </div>
            </form>
        </section>
    </div>
</div>