<div class="row">
    <div class="col-md-4">
        <h5>Change Name</h5>
        <p>
            <inline-editor type="text" size="30" (onSave)="save()" [(ngModel)]="name"></inline-editor>
        </p>
    </div>

    <div class="col-md-4">
        <h5>Change Password</h5>
        <div class="form-group">
            <label class="sr-only" for="username">Current Password</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                <input type="password" class="form-control" [(ngModel)]="current" placeholder="Current">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                <input type="password" class="form-control" [(ngModel)]="pass1" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Confirm</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                <input type="password" class="form-control" [(ngModel)]="pass2" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <p *ngIf="errorMessage" class="text text-danger">{{errorMessage}}</p>
            <button (click)="change()" class="btn btn-primary pull-right">Change</button>
        </div>
    </div>
</div>