<h2 class="text-center login-title">TopoMojo</h2>
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" id="login-well">
        <section class="well">
            <h5>Reset Password</h5>
            <div class="text-danger"></div>
                <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-user"></i></div>
                    <input asp-for="Email" class="form-control" [(ngModel)]="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-lock"></i></div>
                    <input type="password" class="form-control" [(ngModel)]="pass1" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Confirm</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-lock"></i></div>
                    <input type="password" class="form-control" [(ngModel)]="pass2" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Reset Code</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-lock"></i></div>
                    <input type="text" class="form-control" [(ngModel)]="code" placeholder="Code">
                </div>
            </div>
            <div class="form-group">
                <p *ngIf="errorMessage" class="text text-danger">{{errorMessage}}</p>
                <button (click)="reset()" class="btn btn-primary pull-center">Reset</button>
            </div>
        </section>
    </div>
</div>