<div *ngIf="!layout.embedded" class="text-center">
    <div>
        <h2>{{appName}}</h2>
        <div *ngIf="lang.length>1" class="btn-group lang-btn">
            <!-- <button type="button" (click)="toggleDropdown()" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <button type="button" (click)="toggleDropdown()" class="btn btn-link btn-sm" aria-haspopup="true" aria-expanded="false">
                <span translate>{{currentLanguage}}</span> <span class="caret"></span>
            </button>
            <ul [class.showdrop]="dropDownVisible" class="dropdown-menu">
                <li *ngFor="let code of lang"><a (click)="setCulture(code)" translate>LANG.{{code|uppercase}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a (click)="contribute()" translate>CONTRIBUTE</a></li>
            </ul>
        </div>
    </div>
    <ul *ngIf="profile" class="list-inline">
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/browse']" [routerLinkActive]="['link-active']" [tooltip]="'BROWSE' | translate | lowercase">
                <span class='fa fa-list fa-2x'></span>
                <!--Browse-->
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/topo']" [routerLinkActive]="['link-active']" [tooltip]="'WORKSPACE' | translate | lowercase">
                <span class='fa fa-wrench fa-2x'></span>
                <!--Workspace-->
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/mojo']" [routerLinkActive]="['link-active']" [tooltip]="'GAMESPACE' | translate | lowercase">
                <span class='fa fa-flash fa-2x'></span>
                <!--Gamespace-->
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/auth/profile']" [routerLinkActive]="['link-active']" [tooltip]="'PROFILE' | translate | lowercase">
                <span class='fa fa-user fa-2x'></span>
                <!--Profile-->
            </a>
        </li>
        <li *ngIf="isAdmin()" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/admin']" [routerLinkActive]="['link-active']" [tooltip]="'ADMIN' | translate | lowercase">
                <span class='fa fa-cog fa-2x'></span>
                <!--Admin-->
            </a>
        </li>
        <li>
            <a (click)="logout()" [tooltip]="'LOGOUT' | translate | lowercase">
                <span class='fa fa-lock fa-2x'></span>
                <!--Logout-->
            </a>
        </li>
        <li>

        </li>
    </ul>
    <div *ngIf="settings.maintMsg" class="alert alert-warning">
        {{ settings.maintMsg }}
    </div>
</div>

