.wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column wrap;

    .uploader {

        padding: 8px;
        display: flex;
        flex-flow: column wrap;

        .header {
            text-align: right;
        }

        .queued-item {
            display: flex;
            flex-flow: row nowrap;
            font-size: smaller;
            justify-content: baseline;
            align-items: center;
            span {
                max-width: 350px;
            }
        }
    }

    .browser {
        display: flex;
        flex-flow: column nowrap;
        padding: 8px;
        flex: 1;
        overflow-y: auto;

        .thumb {
            flex: none;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-bottom: 4px;

            img {
                height: 160px;
            }
        }
    }
}
